@{
    ViewData["Title"] = "Legales";
}

<div class="text-center">
    <h4 class="display-4">Legales</h4>
    <p class="text-black text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu aliquet elit. Curabitur non nulla accumsan dui aliquet pretium. Donec egestas risus pellentesque lorem semper, varius commodo nibh pharetra. Donec nec pharetra ex. Aliquam erat volutpat. Nulla facilisi. Pellentesque porta tortor sodales mauris egestas finibus. Vivamus sagittis bibendum nisi eu gravida. Maecenas eget dignissim neque, nec lacinia arcu. Nulla quis ultricies lorem, sed consectetur nisi. Maecenas dictum odio et turpis dapibus vehicula. Nullam et ultricies mi, vel maximus odio. Maecenas luctus luctus leo, sed pretium eros auctor at. Suspendisse in tellus mollis odio feugiat dignissim. Aenean vel condimentum augue, quis interdum libero. Curabitur ornare tellus ex, ac tincidunt metus blandit id.

        Cras vitae dui et sem condimentum vehicula id eu velit. Praesent nisi leo, tincidunt quis varius hendrerit, imperdiet nec arcu. Aliquam at rhoncus neque, ut porttitor sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec lacinia neque eget feugiat congue. Cras maximus velit in elit sodales porta. Nulla facilisis, dui eu dictum convallis, est enim posuere felis, vel faucibus tortor nisi mollis tellus. Proin posuere sit amet enim ut accumsan. Vivamus quis porttitor ipsum. Sed posuere nisl ut erat placerat consequat. Integer eu purus gravida, laoreet dui sed, blandit ipsum. Nulla eget venenatis turpis. Integer euismod porttitor quam, at placerat ligula tristique fringilla.

        Maecenas purus arcu, interdum at mollis ut, dignissim vitae metus. Integer et turpis et massa sagittis suscipit. Ut cursus nisl sed risus finibus consectetur. In molestie blandit mauris vel rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin elit eros, dictum id erat vitae, sagittis malesuada nunc. Praesent lacinia ornare feugiat. Morbi id sodales tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin tempor lacinia interdum. Vestibulum non massa tellus. Phasellus mattis sapien et dictum congue. Sed faucibus et lorem ut efficitur.
    </p>
</div>
